@charset "utf-8";

*{
    margin:0px;
    padding:0px;
}

html, body{
    font-family: arial,sans-serif;
    font-size:12px;
    color:#333333;
    -moz-appearance: none;
    /* background-color: #333; */
}

a{
    text-decoration:none;
    color:#fff;
}

.logo, .first_txt span, .first_txt > p,  .visual_sub > span, .sub_txt, h2, .work_left > dl > dt, footer {
    font-family: 'Oswald', sans-serif;
    /* font-size: 12px;
    color: #333; */
}